/**
* Anax Flat theme.
*/
@import url(modules.less);



/** --------------------------------------------------------------
 *  Logo images and navbar
 */


.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

/*
* navigation
*/
.rm-default.rm-desktop {

    li.selected:nth-child(1) {
        background: transparent url('../image/stain-1.png?w=70&crop-to-fit') no-repeat center center;
        }
    li.selected:nth-child(2)     {
        background: transparent url('../image/stain-2.png?w=70&crop-to-fit') no-repeat center center;
        }
    li.selected:nth-child(3)     {
        background: transparent url('../image/stain-3.png?w=70&crop-to-fit') no-repeat center center;
        }
    li.selected:nth-child(4)     {
        background: transparent url('../image/stain-4.png?w=70&crop-to-fit') no-repeat center center;
        }
    li.selected:nth-child(5)     {
        background: transparent url('../image/stain-5.png?w=70&crop-to-fit') no-repeat center center;
        }

    li:hover:nth-child(1) {
        background: transparent url('../image/stain-1.png?w=70&crop-to-fit') no-repeat center center;
    }
    li:hover:nth-child(2) {
        background: transparent url('../image/stain-2.png?w=70&crop-to-fit') no-repeat center center;
    }
    li:hover:nth-child(3) {
        background: transparent url('../image/stain-3.png?w=70&crop-to-fit') no-repeat center center;
    }
    li:hover:nth-child(4) {
        background: transparent url('../image/stain-4.png?w=70&crop-to-fit') no-repeat center center;
    }
    li:hover:nth-child(5) {
        background: transparent url('../image/stain-5.png?w=70&crop-to-fit') no-repeat center center;
    }


    a {
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 1.2em;
    }

    a:hover {
        text-decoration: none;
    }

    .selected {
    }
}


/*
* Flash image
*/




/*
* Main
*/


body {
    background-color: #fff;
    background-image: url('../image/bg-2.jpg');
    color: #39532B;
}

.route- main, main {
    background-color: rgba(0, 139, 139, 0.2);
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 139, 139, 0.2), transparent);
    box-shadow: 2px 2px 3px black;
}

.route- .sidebar-left {
    background-color: rgba(0, 139, 139, 0.5);
    border-radius:50%;
    padding-left: 5%;
    box-shadow: 2px 2px 3px black;

    ul {
        list-style-image: url('../image/bock.png?w=20&crop-to-fit');
    }
}

.route- .sidebar-right {
    text-align:center;
    margin-bottom: @magicNumber;
}

.route- .sidebar-right .one {
    background-color: rgba(0,139,139,.5);
    margin-bottom: @magicNumber;
    border-radius:50%;
    box-shadow: 2px 2px 3px black;
}

.route- .sidebar-right .two {
    background-color: rgba(0,139,139,.3);
    border-radius:50%;
    box-shadow: 2px 2px 3px black;

    &:hover {
        background-color: rgba(0,139,139,.8);
    }
}

.route- .sidebar-right .two h2 {
    padding-top: @magicNumber;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 3px;
    color: #FF69B4;
}

.sidebar-right .two a:hover {
    color: #FF69B4;
}

.sidebar-right .one {
    padding-top: 24px;
    h2 {
        letter-spacing: 3px;
    }
    p, h2 {
        margin:0;
    }
}

.sidebar-right .two {
    a {
        text-decoration: none;
    }
}

.sidebar-right .block {
    background-color: rgba(0, 139, 139, 0.7);
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 139, 139, 0.2), transparent);
    box-shadow: 2px 2px 3px black;
    h4 {
        font-size:1.2em;
        letter-spacing: 1px;
    }
    padding: 8px;
}

.block a {
    color: #68243B;
    &:hover {
        color: #0F1111;
    }
}

.block.blog-toc {
    background-color: rgba(0, 139, 139, 0.7);
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 139, 139, 0.2), transparent);
    box-shadow: 2px 2px 3px black;
    h4 {
        font-size:1.2em;
        letter-spacing: 1px;
    }
}

.blog-list-item a,
.next-previous a,
.readmore a {
    color: #68243B;
    &:hover {
        color: #008b8b;
    }
}


/*
* Portfolio
*/

.route-portfolio figure img {
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}
.route-portfolio figcaption p {
    font-size: 1.2em;
    letter-spacing: 1px;
    font-style: italic;
    margin: 0 0 10px 0;
    display: inline;
}


/*
* Footer
*/
.outer-wrap-footer {
    ul {
        text-align:center;
        list-style-type: none;
        li {
            display:inline-block;
        }
    }
    .row {
        background-color: #008b8b;
    }
}
.footer-column {
    background-color:transparent;
    text-align:center;
}

.columns {
    h4 {
        font-size:1.5em;
    }
    h4, p {
        color: rgba(0,0,0,0.7);
    }
}


.site-footer {
    background-color: transparent;
    color: rgba(0,0,0,0.7);
}

/*
* Blogg
*/

.blog-toc {
    background-color: #008b8b;
    color:#39532B;
    padding:8px;
    a {
        color: #68243B;
    }
    ul {
        // list-style-type: none;
    }
}
.next-previous {
    overflow:auto;
}

.share {
    clear:both;
}
